* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

section {
  display: grid;
  grid-template-columns: 1fr;
}

section img:first-child,
section img:last-child {
  grid-column: 1/2;
  grid-row: 1/2;
}

section img:last-child {
  animation: pluto-fade 3s infinite alternate;
}

@keyframes pluto-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
