/* extremely basic formatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: "feature feature a" "feature feature b" "c . .";
  gap: 2rem;
}

figure:first-child {
  grid-area: a;
}

figure:nth-child(2) {
  grid-area: b;
}

figure:nth-child(3) {
  grid-area: feature;
}

figure:last-child {
  grid-area: c;
}

@media (max-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-areas: "feature" "a" "b" "c";
    gap: 2rem;
  }
  figure:first-child {
    grid-area: a;
  }

  figure:nth-child(2) {
    grid-area: b;
  }

  figure:nth-child(3) {
    grid-area: feature;
  }

  figure:last-child {
    grid-area: c;
  }

  figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: 400px) {
  figure {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
