/* extremely basic formatting */
/* this is new task */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: black;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
  padding: 0;
}
